.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

 .product-device {
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 40%;
  width: 200px;
  height: 520px;
  background-color: #333;
  background-image: url('movil.png');
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 40 80px 80px rgba(0, 0, 0, 0.2); /* Agregar sombra */
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  position: absolute;
  top: -0%;
  right: auto;
  bottom: 30px;
  left: 5%;
  width: 150px;
  height: 380px;
  background-color: #e5e5e5;
  background-image: url('Inicio.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px; /* Ajustando el radio de borde */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Agregar sombra */
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
